#main {
  padding: 0.5rem 1rem;
}

.table {
  overflow-x: auto;
  display: flex;
  flex-flow: row nowrap;
}

.col {
  display: inline-block;
  flex-shrink: 0;
}

.head {
  padding: 0.5rem;
  color:#fff;
  background-color:#2196F3;
}

.col .head {
  border-left: 1px solid lightgray;
}

.col:first-of-type .head {
  border-left: none;
}

.input-wrapper {
  display: flex;
}

.col .input-wrapper {
  border-left: 1px solid gray;
}

.col:first-of-type .input-wrapper {
  border-left: none;
}

input {
  flex-grow: 1;
  width: 0;
  border: none;
  padding: 0 0.2rem;
}

/* Column formatting */

.date {
  min-width: 5rem;
}

.flightNumber {
  min-width: 2.5rem;
}

.pilotInCommand {
  min-width: 10rem;
  flex-grow: 1;
}

.studentPassenger {
  min-width: 10rem;
  flex-grow: 1;
}

.glider {
  min-width: 4rem;
}

.towReg {
  min-width: 5.5rem;
}

.towPilot {
  min-width: 10rem;
}

.takeOff {
  min-width: 5.5rem;
}

.towDown {
  min-width: 6.5rem;
}

.towHeight {
  min-width: 7rem;
}

.gliderDown {
  min-width: 7.5rem;
}

.towTime {
  min-width: 6rem;
}

.gliderTime {
  min-width: 7rem;
}

.towCost {
  min-width: 5rem;
}

.gliderCost {
  min-width: 6rem;
}

.landingFee {
  min-width: 7.5rem;
}

.totalCost {
  min-width: 5rem;
}

.comments {
  min-width: 10rem;
  flex-grow: 1;
}