body {
    --red: #ed2a28;
    --green: #75a341;
    --blue: #1895cb;
}

.red {
    background-color: var(--red) !important;
    color: white !important;
}

.text-red {
    color: var(--red) !important;
}

.green {
    background-color: var(--green) !important;
    color: white !important;
}

.text-green {
    color: var(--green) !important;
}

.blue {
    background-color: var(--blue) !important;
    color: white !important;
}

.text-blue {
    color: var(--blue) !important;
}

input[type=checkbox] {
    vertical-align: middle;
    transform: scale(1.2);
}

input[name$="dob_day"] {
    width: auto;
}

select[name$="dob_month"] {
    width: auto;
}

input[name$="dob_year"] {
    width: auto;
}

#registration_form {
    max-width: 600px;
    margin: auto;
}

#logo {
    margin-left: -8px;
}

#guardian_section {
    padding-left: 8px;
    border-left: 1px solid var(--blue);
}